*{
    margin: 0;
    padding: o;
}

.menu{
    background-color: blue;
    height: 100px;
    width: 100%;
}
.esq{
    background-color: yellow;
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.meio{
    background-color: green;
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.dir{
    background-color: blueviolet;
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.roda{
    background-color: red;
    height: 60px;
    width: 100%;
}
.clear{
    clear: both;
}