*{
    margin: 0;
    padding: o;
}
.principal{
    background-color:blanchedalmond;
}

.menu{
    background-color: rgb(138, 163, 97);
    height: 100px;
    width: 100%;
}
.esq{
    background-color: rgb(195, 195, 83);
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.meio{
    background-color: rgb(128, 110, 45);
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.dir{
    background-color: rgb(73, 51, 93);
    height: 400px;
    width: 350px;
    float: left;
    margin: 20px;
}
.roda{
    background-color: rgba(140, 47, 47, 0.262);
    height: 60px;
    width: 100%;
}
.clear{
    clear: both;
}